    body {
      width:540px;
      height:100%;
      padding:0;
    }
    .modal-header {
      padding:15px 17px 15px 30px;
    }
    .modal-body {
      padding:15px 25px 15px 30px;
    }
    
    textarea {
      width:95%;
      height:250px;
    }
    #quotes_modal {
      width:100%;
    }
    .modal-footer {
      position:relative;
    }
    .modal-footer .btn+.btn {
      margin-right:20px;
    }
    .icon {
      margin-right: 52px;
    }
    .modal-header .close {
      margin-top: 9px;
    }